![Ironhack logo](https://i.imgur.com/1QgrNNw.png)

# Lab | Introduction to Pandas

## Introduction

In the Introduction to Pandas lesson, we learned about the two main data structures in Pandas (Series and DataFrames), how to work with them, how to obtain them from other data structures, and how to perform basic calculations with them.

The goal of this lab is to help you practice the concepts you learned in the lesson and provide you with some hands-on experience working with Pandas.

## Getting Started

Read the instructions for each cell and provide your answers. Make sure to test your answers in each cell and save. Jupyter Notebook should automatically save your work progress. But it's a good idea to periodically save your work manually just in case.

## Resources

- [Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/)
- [Intro to Pandas Data Structures](https://pandas.pydata.org/pandas-docs/stable/dsintro.html)
- [Descriptive Statistics for Pandas DataFrame](https://chrisalbon.com/python/data_wrangling/pandas_dataframe_descriptive_stats/)

# Introduction to Pandas

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

#### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [1]:
import pandas as pd
import numpy as np

#### 2. Create a Pandas Series containing the elements of the list below.

Expected output:

````python
            0     5.7
            1    75.2
            2    74.4
            3    84.0
            4    66.5
            5    66.3
            6    55.8
            7    75.7
            8    29.1
            9    43.7
            dtype: float64
    
````

In [2]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [3]:
data = pd.Series(lst)

#### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [4]:
# the first index is 0, followed by 1, and then 2
data[7]

75.7

#### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

Expected output:

|    |    0 |    1 |    2 |    3 |    4 |
|---:|-----:|-----:|-----:|-----:|-----:|
|  0 | 53.1 | 95   | 67.5 | 35   | 78.4 |
|  1 | 61.3 | 40.8 | 30.8 | 37.8 | 87.6 |
|  2 | 20.6 | 73.2 | 44.2 | 14.6 | 91.8 |
|  3 | 57.4 |  0.1 | 96.1 |  4.2 | 69.5 |
|  4 | 83.6 | 20.5 | 85.4 | 22.8 | 35.9 |
|  5 | 49   | 69   |  0.1 | 31.8 | 89.1 |
|  6 | 23.3 | 40.7 | 95   | 83.8 | 26.9 |
|  7 | 27.6 | 26.4 | 53.8 | 88.8 | 68.5 |
|  8 | 96.6 | 96.4 | 53.4 | 72.4 | 50.1 |
|  9 | 73.7 | 39   | 43.2 | 81.6 | 34.7 |

In [5]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [6]:
data1=pd.DataFrame(b)

#### 5. Rename the data frame columns based on the names in the list below.

Expected output:

|    |   Score_1 |   Score_2 |   Score_3 |   Score_4 |   Score_5 |
|---:|----------:|----------:|----------:|----------:|----------:|
|  0 |      53.1 |      95   |      67.5 |      35   |      78.4 |
|  1 |      61.3 |      40.8 |      30.8 |      37.8 |      87.6 |
|  2 |      20.6 |      73.2 |      44.2 |      14.6 |      91.8 |
|  3 |      57.4 |       0.1 |      96.1 |       4.2 |      69.5 |
|  4 |      83.6 |      20.5 |      85.4 |      22.8 |      35.9 |
|  5 |      49   |      69   |       0.1 |      31.8 |      89.1 |
|  6 |      23.3 |      40.7 |      95   |      83.8 |      26.9 |
|  7 |      27.6 |      26.4 |      53.8 |      88.8 |      68.5 |
|  8 |      96.6 |      96.4 |      53.4 |      72.4 |      50.1 |
|  9 |      73.7 |      39   |      43.2 |      81.6 |      34.7 |

In [7]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [8]:
data1.columns

RangeIndex(start=0, stop=5, step=1)

In [9]:
data1.columns = colnames
data1.columns

Index(['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5'], dtype='object')

In [10]:
data1

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

#### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

Expected output:

|    |   Score_1 |   Score_3 |   Score_5 |
|---:|----------:|----------:|----------:|
|  0 |      53.1 |      67.5 |      78.4 |
|  1 |      61.3 |      30.8 |      87.6 |
|  2 |      20.6 |      44.2 |      91.8 |
|  3 |      57.4 |      96.1 |      69.5 |
|  4 |      83.6 |      85.4 |      35.9 |
|  5 |      49   |       0.1 |      89.1 |
|  6 |      23.3 |      95   |      26.9 |
|  7 |      27.6 |      53.8 |      68.5 |
|  8 |      96.6 |      53.4 |      50.1 |
|  9 |      73.7 |      43.2 |      34.7 |

In [11]:
data1[['Score_1','Score_3','Score_5']]

   Score_1  Score_3  Score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7

#### 7. From the original data frame, calculate the average Score_3 value.

Expected output:

````python
            56.95
````

In [12]:
data1['Score_3'].mean()

56.95000000000001

#### 8. From the original data frame, calculate the maximum Score_4 value.

Expected output:

````python
            88.8
````

In [13]:
data1['Score_4'].max()

88.8

#### 9. From the original data frame, calculate the median Score 2 value.

Expected output:

````python
            40.75
````

In [14]:
data1['Score_2'].median()

40.75

#### 10. Create a Pandas DataFrame from the dictionary of product orders below.

Expected output:

|    | Description                       |   Quantity |   UnitPrice |   Revenue |
|---:|:----------------------------------|-----------:|------------:|----------:|
|  0 | LUNCH BAG APPLE DESIGN            |          1 |        1.65 |      1.65 |
|  1 | SET OF 60 VINTAGE LEAF CAKE CASES |         24 |        0.55 |     13.2  |
|  2 | RIBBON REEL STRIPES DESIGN        |          1 |        1.65 |      1.65 |
|  3 | WORLD WAR 2 GLIDERS ASSTD DESIGNS |       2880 |        0.18 |    518.4  |
|  4 | PLAYING CARDS JUBILEE UNION JACK  |          2 |        1.25 |      2.5  |
|  5 | POPCORN HOLDER                    |          7 |        0.85 |      5.95 |
|  6 | BOX OF VINTAGE ALPHABET BLOCKS    |          1 |       11.95 |     11.95 |
|  7 | PARTY BUNTING                     |          4 |        4.95 |     19.8  |
|  8 | JAZZ HEARTS ADDRESS BOOK          |         10 |        0.19 |      1.9  |
|  9 | SET OF 4 SANTA PLACE SETTINGS     |         48 |        1.25 |     60    |

In [15]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [16]:
# In dictionary above, the key is column and the values (in the list) are values
df = pd.DataFrame(orders)
df

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

#### 11. Calculate the total quantity ordered and revenue generated from these orders.

Expected output:

````python
            Quantity    2978.0
            Revenue      637.0
````

In [17]:
qty = df['Quantity'].sum(axis=0)
rev = df['Revenue'].sum(axis=0)

In [18]:
print(f'Total Quantity ordered:  {qty:.1f}')
print(f'Total Revenue generated:  {rev:.1f}')

Total Quantity ordered:  2978.0
Total Revenue generated:  637.0

#### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.
Expected output:

````python
            Most expensive:  11.95
            Least expensive:  0.18
            Difference:  11.77
````

In [19]:
expensive = df['UnitPrice'].max()
cheap = df['UnitPrice'].min()
diff = df['UnitPrice'].max() - df['UnitPrice'].min()

In [20]:
print(f'Most  Expensive:  {expensive:.2f}')
print(f'Least Expensive:   {cheap:.2f}')
print(f'Difference     :  {diff:.2f}')

Most  Expensive:  11.95
Least Expensive:   0.18
Difference     :  11.77

# BONUS

#### 1 Create a random dataframe containing 3 columns and 10 rows. 

*Hint: You'll have to use a `numpy.random` method to create random observations*

**Example of output:**

|    |         0 |        1 |        2 |
|---:|----------:|---------:|---------:|
|  0 | 0.0883504 | 0.867054 | 0.977949 |
|  1 | 0.819555  | 0.643927 | 0.122975 |
|  2 | 0.484618  | 0.515125 | 0.807791 |
|  3 | 0.539583  | 0.620799 | 0.926963 |
|  4 | 0.0479896 | 0.772282 | 0.621921 |
|  5 | 0.1398    | 0.767678 | 0.678816 |
|  6 | 0.0895157 | 0.242867 | 0.887941 |
|  7 | 0.160186  | 0.750576 | 0.439416 |
|  8 | 0.982747  | 0.652903 | 0.575518 |
|  9 | 0.646373  | 0.523237 | 0.700222 |

In [21]:
df_random= pd.DataFrame(np.random.random(size=(10,3)))
df_random

          0         1         2
0  0.576122  0.610431  0.277550
1  0.261194  0.185422  0.035125
2  0.030638  0.695683  0.781877
3  0.464990  0.386909  0.398131
4  0.933438  0.489333  0.944987
5  0.686106  0.648423  0.331256
6  0.017085  0.332166  0.973556
7  0.941585  0.997857  0.899674
8  0.038974  0.554298  0.913597
9  0.880121  0.461072  0.873047

#### 2 Create a random dataframe containing 3 columns and 10 rows with specific column names. 

Use `['column1', 'column2', 'column3']` as the column names.

**Example of output:**

|    |   column1 |   column2 |   column3 |
|---:|----------:|----------:|----------:|
|  0 |        10 |        21 |        45 |
|  1 |        32 |        87 |        39 |
|  2 |        93 |        53 |         8 |
|  3 |        52 |        77 |        41 |
|  4 |        72 |        50 |        31 |
|  5 |        16 |         6 |        41 |
|  6 |        66 |        33 |        62 |
|  7 |        97 |        50 |        92 |
|  8 |        21 |        71 |        42 |
|  9 |        91 |        97 |        32 |

In [22]:
col=['column1', 'column2', 'column3']
df_random.columns = col

df_random

    column1   column2   column3
0  0.576122  0.610431  0.277550
1  0.261194  0.185422  0.035125
2  0.030638  0.695683  0.781877
3  0.464990  0.386909  0.398131
4  0.933438  0.489333  0.944987
5  0.686106  0.648423  0.331256
6  0.017085  0.332166  0.973556
7  0.941585  0.997857  0.899674
8  0.038974  0.554298  0.913597
9  0.880121  0.461072  0.873047

#### 3 Create a random dataframe containing N columns and M rows with specific column names.

For this task you'll have to name the columns as `['column1', 'column2', 'column3', ...,'columnN']`. You can use a list comprehension to do that.

In [23]:
N = 10 # ncols
M = 30 # nrows

# list comprehention of name of columns
ncols = ['column'+ str(i) for i in range(1,N+1)]
print(ncols)

['column1', 'column2', 'column3', 'column4', 'column5', 'column6', 'column7', 'column8', 'column9', 'column10']

In [24]:
def random_dataframe(nrows, ncols):
    '''
    A function that creates a random dataframe 
    containing N columns and M rows 
    with specific column names.
    '''
    df_random = pd.DataFrame(np.random.random(size=(nrows,ncols)))
    
    # list comprehention of name of columns
    column_names = ['column'+ str(i) for i in range(1, ncols+1)]
    df_random.columns = column_names
    
    return df_random


N = 10 # ncols
M = 30 # nrows
random_dataframe(M,N)

,column1,column2,column3,column4,column5,column6,column7,column8,column9,column10
0,0.976870,0.249096,0.702204,0.617437,0.036967,0.806404,0.078455,0.265332,0.930520,0.883172
1,0.832900,0.384399,0.011876,0.049564,0.218771,0.915619,0.002726,0.710726,0.761790,0.861860
2,0.789149,0.654641,0.597499,0.332555,0.940068,0.760346,0.634156,0.040246,0.928457,0.252144
3,0.064700,0.424258,0.404585,0.182294,0.321765,0.123483,0.649316,0.497091,0.617995,0.374331
4,0.746626,0.382267,0.506667,0.495235,0.654108,0.729980,0.762438,0.435758,0.309492,0.538159
5,0.877935,0.459588,0.154488,0.320550,0.496930,0.230830,0.811222,0.163619,0.893008,0.470219
6,0.968265,0.837446,0.388959,0.542429,0.248720,0.407739,0.193527,0.127433,0.983181,0.348698
7,0.362318,0.493303,0.760980,0.962670,0.317367,0.842652,0.589984,0.690495,0.226168,0.801640
8,0.031031,0.704029,0.963802,0.849534,0.498745,0.506190,0.480574,0.051364,0.718268,0.858302
9,0.326929,0.494593,0.761996,0.124941,0.241879,0.234305,0.019777,0.602842,0.399481,0.631553
10,0.210784,0.118728,0.054607,0.351463,0.973226,0.774438,0.086129,0.570205,0.879756,0.881551
11,0.761802,0.338953,0.880782,0.421579,0.644753,0.644822,0.922693,0.589848,0.158448,0.698873
12,0.660434,0.808847,0.620481,0.780953,0.819512,0.793394,0.342902,0.446370,0.579719,0.666481
13,0.085823,0.601181,0.325419,0.135595,0.468030,0.638628,0.911239,0.007498,0.547002,0.439586
14,0.992452,0.771574,0.333639,0.296583,0.172623,0.197165,0.343036,0.012406,0.958961,0.057823
15,0.209672,0.520833,0.291012,0.997186,0.050279,0.763742,0.974382,0.383743,0.424556,0.409716
16,0.519181,0.777098,0.244167,0.610635,0.261830,0.515569,0.031075,0.201229,0.214673,0.927351
17,0.349683,0.802587,0.288787,0.743303,0.921857,0.001804,0.584794,0.624030,0.586304,0.525801
18,0.543727,0.557464,0.178514,0.871290,0.509240,0.376743,0.045451,0.728116,0.295000,0.361009
19,0.883545,0.189606,0.760265,0.448498,0.735427,0.401200,0.802918,0.702005,0.447195,0.887901
20,0.864008,0.182260,0.586587,0.848026,0.617952,0.764847,0.440204,0.303467,0.929382,0.397788
21,0.402896,0.104846,0.639871,0.058510,0.452602,0.470535,0.508071,0.978452,0.888211,0.603658
22,0.718400,0.222986,0.283991,0.979649,0.235935,0.754848,0.048272,0.118569,0.200739,0.602520
23,0.576253,0.718478,0.732897,0.879172,0.291367,0.598170,0.707180,0.775625,0.532832,0.193101
24,0.814754,0.849352,0.447508,0.358351,0.052362,0.128072,0.350211,0.898586,0.153833,0.798187
25,0.384408,0.472424,0.373930,0.537564,0.638473,0.447770,0.672130,0.853804,0.464963,0.532028
26,0.737862,0.285383,0.524556,0.123755,0.368155,0.105025,0.004082,0.758779,0.647232,0.466626
27,0.052182,0.425505,0.142734,0.923803,0.122844,0.240886,0.670716,0.004465,0.540895,0.624486
28,0.279258,0.945364,0.549807,0.533223,0.343189,0.879703,0.982332,0.921682,0.242836,0.977108
29,0.474253,0.362261,0.555588,0.497342,0.122437,0.919450,0.622425,0.576460,0.331305,0.088198