# Before your start:
- Comment as much as you can
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.

Create a function that returns the count of a list of numbers

In [2]:
def count_num (lst_num):
    '''
    A function that returns the count of a list of numbers
    '''
    return len(lst_num)

a = [1,3,5,7,9]
count_num(a)

5

Create a function that returns the mean of a list of numbers

In [3]:
def mean_num (lst_num):
    '''
    A function that returns the mean of a list of numbers
    '''
    return np.mean(lst_num)

b = [2,4,6,8,10]
mean_num(b)

6.0

Create a function that returns the standard deviation of a list of numbers using the previous functions you created.

In [4]:
def std_num (lst_num):
    '''
    A function that returns the mean of a list of numbers
    '''
    return np.std(lst_num)

b = [2,4,6,8,10]
std_num(b)

2.8284271247461903

Create a function that returns the count, mean and standard deviation of a given list. Document this function using triple quotes, your documentation should have description, parameters, returns and examples.

In [5]:
def calculation_num (lst_num):
    '''
    A function that returns the count, mean and standard deviation of a given list.
    '''
    return len(lst_num), np.mean(lst_num), np.std(lst_num)

a = [1,3,5,7,9]
b = [2,4,6,8,10]

calculation_num (a)
calculation_num (b)

(5, 6.0, 2.8284271247461903)

# Challenge  - String Cleaning
When working with textual data you will often have to clean it before being able to analyze it. Create a function that receives a string and returns that string in all lower case, without special characters and in alphabetical order.

In [6]:
import re
def string_cleaning (text):
    '''
     A function that receives a string and
     returns that string in all lower case, 
     without special characters and 
     in alphabetical order
    '''
        
    lst_string = sorted(text.lower().split())
    
    cleaned_words=[]
    pattern ='[^A-Za-z]+'
    
    for word in lst_string:
        cleaned_words.append(re.sub(pattern,'',word))
    
    return ' '.join(cleaned_words)

string_text = 'A function that ret&¨%*&urns the cou¨(*&%(&%nt, mean and stan&*¨%*&dard deviation of a give(*&%(&*%n list.'
string_cleaning (string_text)

'a a and count deviation function given list mean of returns standard that the'

In [7]:
# Test.1 before coding
string_text = 'A function that ret&¨%*&urns the cou¨(*&%(&%nt, mean and stan&*¨%*&dard deviation of a give(*&%(&*%n list.'

lst_string = sorted(string_text.lower().split())
lst_string

['a',
 'a',
 'and',
 'cou¨(*&%(&%nt,',
 'deviation',
 'function',
 'give(*&%(&*%n',
 'list.',
 'mean',
 'of',
 'ret&¨%*&urns',
 'stan&*¨%*&dard',
 'that',
 'the']

In [8]:
# Test.2 before coding
cleaned_words=[]
pattern ='[^A-Za-z]+'

for word in lst_string:
    str_without_spe_charact=re.sub(pattern,'',word)
    cleaned_words.append(str_without_spe_charact)
print(cleaned_words)

['a', 'a', 'and', 'count', 'deviation', 'function', 'given', 'list', 'mean', 'of', 'returns', 'standard', 'that', 'the']

In [9]:
# Test.3 before coding
' '.join(cleaned_words)

'a a and count deviation function given list mean of returns standard that the'

# Challenge  - Classification
Sometimes datasets provide very good and precise information but not in the way we need to use it. In this challenge, make a function that takes a numeric value (age or income for example) and turns it into a category (could be from Very Low to Very High or rated from 0 to 10).

In [10]:
def category_num (x):
    
    if x >= 0 and x <=10:
        return "Criança"
    if x > 10 and x <= 20:
        return "Adolescente"
    elif x > 10 and x <= 30:
        return "Jovém"
    elif x > 30 and x < 60:
        return "Adulto"
    elif x >= 60:
        return "Velho"
    
category_num(int(input("Idade: ")))

Idade: 55

'Adulto'

# Challenge  - Recursion 
In some cases it is interesting to build a function that calls itself. Use a recursive function that asks for an input from the users age and keeps asking for it until the input is a number between 0 and 150.

In [11]:
def calls_itself ():
    
    x = int(input("Age: "))

    if x > 0 and x < 150:
        print("Thanks for your information!")
        return x
        
    else:
        print("Please, input again!")
        return calls_itself ()
    
calls_itself ()

Age: 65
Thanks for your information!

65

# Challenge - Global and local variables

Make a function that returns the buzz string in alphabetical order  

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [12]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

In [13]:
def string_alphabetical_order (text):
    '''
    A function that returns the buzz string in alphabetical order
    '''
    lst_string = sorted(text.split(', '))
    return ' '.join(lst_string)

string_alphabetical_order(buzz)

'AI Big Data Data Warehouse Machine Learning Pipeline'

Make a function without return that modifies the buzz string and puts it in alphabetical order

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [14]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

In [15]:
def string_alphabetical_order ():
    '''
    A function without return that 
    modifies the buzz string and 
    puts it in alphabetical order
    '''
    global buzz
    lst_string = sorted(buzz.split(', '))
    print(' '.join(lst_string))
    
string_alphabetical_order ()
buzz

AI Big Data Data Warehouse Machine Learning Pipeline

'Big Data, Machine Learning, AI, Data Warehouse, Pipeline'

# Bonus Challenge  - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

In [16]:
import pandas as pd

In [17]:
iris_numeric = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],
                            columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])

In [18]:
iris_numeric

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4
6           4.6          3.4           1.4          0.3
7           5.0          3.4           1.5          0.2
8           4.4          2.9           1.4          0.2
9           4.9          3.1           1.5          0.1

Let's look at the dataset using the `head` function.

Expected output:

|    |   sepal_length |   sepal_width |   petal_length |   petal_width |
|---:|---------------:|--------------:|---------------:|--------------:|
|  0 |            5.1 |           3.5 |            1.4 |           0.2 |
|  1 |            4.9 |           3   |            1.4 |           0.2 |
|  2 |            4.7 |           3.2 |            1.3 |           0.2 |
|  3 |            4.6 |           3.1 |            1.5 |           0.2 |
|  4 |            5   |           3.6 |            1.4 |           0.2 |

In [19]:
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Let's start off by using built-in functions. Try to use the numpy mean function and describe what happens in the comments of the code.

Expected output:
````python
sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64
````

In [20]:
iris_numeric.mean()

sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64

Next, we'll use the standard deviation function in numpy (np.std). Describe what happened in the comments.

Expected output:
````python
sepal_length    0.291357
sepal_width     0.307137
petal_length    0.108012
petal_width     0.078881
dtype: float64
````

In [21]:
iris_numeric.std()

sepal_length    0.291357
sepal_width     0.307137
petal_length    0.108012
petal_width     0.078881
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. We will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [22]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    return (x * 0.393701)

In [23]:
cm_to_in(1)

0.393701

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [24]:
iris_inch = cm_to_in(iris_numeric)
iris_inch

   sepal_length  sepal_width  petal_length  petal_width
0      2.007875     1.377954      0.551181      0.07874
1      1.929135     1.181103      0.551181      0.07874
2      1.850395     1.259843      0.511811      0.07874
3      1.811025     1.220473      0.590552      0.07874
4      1.968505     1.417324      0.551181      0.07874
5      2.125985     1.535434      0.669292      0.15748
6      1.811025     1.338583      0.551181      0.11811
7      1.968505     1.338583      0.590552      0.07874
8      1.732284     1.141733      0.551181      0.07874
9      1.929135     1.220473      0.590552      0.03937

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [25]:
# Define constant below:
error = 2

def add_constant(x):
    
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    global error
    return (x + 2)

iris_constant = add_constant(iris_numeric)
iris_constant

   sepal_length  sepal_width  petal_length  petal_width
0           7.1          5.5           3.4          2.2
1           6.9          5.0           3.4          2.2
2           6.7          5.2           3.3          2.2
3           6.6          5.1           3.5          2.2
4           7.0          5.6           3.4          2.2
5           7.4          5.9           3.7          2.4
6           6.6          5.4           3.4          2.3
7           7.0          5.4           3.5          2.2
8           6.4          4.9           3.4          2.2
9           6.9          5.1           3.5          2.1

In [26]:
# Using .apply function on the dataframe
iris_constant = iris_numeric.apply(add_constant)
iris_constant

   sepal_length  sepal_width  petal_length  petal_width
0           7.1          5.5           3.4          2.2
1           6.9          5.0           3.4          2.2
2           6.7          5.2           3.3          2.2
3           6.6          5.1           3.5          2.2
4           7.0          5.6           3.4          2.2
5           7.4          5.9           3.7          2.4
6           6.6          5.4           3.4          2.3
7           7.0          5.4           3.5          2.2
8           6.4          4.9           3.4          2.2
9           6.9          5.1           3.5          2.1

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [27]:
iris_numeric

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4
6           4.6          3.4           1.4          0.3
7           5.0          3.4           1.5          0.2
8           4.4          2.9           1.4          0.2
9           4.9          3.1           1.5          0.1

In [28]:
iris_numeric.max(axis=1)

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
5    5.4
6    4.6
7    5.0
8    4.4
9    4.9
dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [29]:
# Your code here:
iris_numeric['total_length'] = iris_numeric[['sepal_length','petal_length']].sum(axis=1)
iris_numeric['total_width'] = iris_numeric[['sepal_width','petal_width']].sum(axis=1)

iris_numeric

,sepal_length,sepal_width,petal_length,petal_width,total_length,total_width
0,5.1,3.5,1.4,0.2,6.5,3.7
1,4.9,3.0,1.4,0.2,6.3,3.2
2,4.7,3.2,1.3,0.2,6.0,3.4
3,4.6,3.1,1.5,0.2,6.1,3.3
4,5.0,3.6,1.4,0.2,6.4,3.8
5,5.4,3.9,1.7,0.4,7.1,4.3
6,4.6,3.4,1.4,0.3,6.0,3.7
7,5.0,3.4,1.5,0.2,6.5,3.6
8,4.4,2.9,1.4,0.2,5.8,3.1
9,4.9,3.1,1.5,0.1,6.4,3.2